alabaster==0.7.12
altair==4.1.0

Markdown==3.1.1
Pillow==7.2.0

python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
python-xlib==0.27

requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1

scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soup==0.1.0
soupsieve==2.0
spacy==2.3.2
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==1.0.2
statsmodels==0.11.1
streamlit==0.61.0

textblob==0.15.3

xgboost==1.1.1

